.header {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;

}


.header::before {
    content: '';
    background-color: #033c43;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.header h1 {
    font-size: 1.5rem;
    padding: 1rem;
}

.header ul {
    display: flex;
    align-items: center;
}



.header a {
    text-decoration: none;
    color: white;
    font-size: 1rem;

}

.header nav {
    width: 20%;
}

.header li {
    cursor: pointer;
    color: white;
    margin: 0rem 0.5rem;
    list-style: none;
    
}



@media only screen and (max-width:500px){
    .header nav{
        width: auto;

    }
   


}