@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Open Sans', 'Lato', sans-serif;
  background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}

.auth{
    display: flex;
    justify-content: space-around;
    margin: 2rem;
}

.auth img{
  width:35%
}

.auth_form{
  width:40%;
  display:flex;
  flex-direction: column;
  background-color: white;
  padding: 1rem;

}

@media only screen and (max-width:750px){
  .auth{
    flex-direction: column-reverse;
    align-items: center;
  }
  .auth img{
    width: 300px;
  }
  .auth_form{
    width: 300px;
    margin-top: 1rem;
  }
}